@model Bug_Tracker.Models.ApplicationUser
@{ ViewBag.Title = "Manage"; }

<h2>Profile</h2>

<dl class="dl-horizontal">
    <dt>Username:</dt>
    <dd>@Model.UserName<span style="color: cornflowerblue; cursor: pointer; margin-left: 10px;" data-toggle="modal" data-target="#change-username-modal"><i class="fas fa-edit"></i>EDIT</span></dd>
    <dt>Email:</dt>
    <dd>@Model.Email</dd>
</dl>

<div class="modal fade" id="change-username-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Change Username</h4>
            </div>
            @using (Html.BeginForm("ChangeUsername", "Manage", new { userId = Model.Id }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            @Html.ValidationSummary(false, "Errors", new { @class = "text-danger" })
                        </div>
                    }

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName)
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Change" />
                </div>
            }
        </div>
    </div>
</div>

