@model IEnumerable<Bug_Tracker.Models.Project>
@using Microsoft.AspNet.Identity;
@using Bug_Tracker.BL;
@{
    ViewBag.Title = "Your Projects";
}

<h2>
    Your Projects
    @if (UserService.UserInRole(User.Identity.GetUserId(), "manager"))
    {
        <span class="pull-right">@Html.ActionLink("All Projects", "AllProjects", null, new { @class = "btn btn-primary" })</span>
    }
</h2>

@if (Model.Count() == 0)
{
    <h3>Nothing to display.</h3>
}

@foreach (var project in Model)
{
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>@Html.ActionLink(project.Name, "Details", new { id = project.Id })</h3>
        </div>
        <div class="panel-body">
            <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly">
                @foreach (var ticket in project.Tickets)
                {
                    <div class="panel panel-default" style="width: 47%">
                        <div class="panel-heading">@Html.ActionLink(ticket.Title, "Details", "Tickets", new { id = ticket.Id }, null)<span class="pull-right">@ticket.Created.ToShortDateString()</span></div>
                        <div class="panel-body">@(ticket.Description.Length > 50 ? ticket.Description.Substring(0, 47) + "..." : ticket.Description)</div>
                    </div>
                }
            </div>
        </div>
    </div>
}