

@model PagedList.IPagedList<Bug_Tracker.Models.Ticket>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "AllTickets";
}

<h2>Tickets</h2>

@using (Html.BeginForm("AllTickets", "Tickets", FormMethod.Get))
{
    <p>
        Find by title or description: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}

@if (Model.Count == 0)
{
    <h3>Nothing to display.</h3>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "AllTickets", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Description", "AllTickets", new { sortOrder = ViewBag.DescSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Project Name", "AllTickets", new { sortOrder = ViewBag.ProjSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Priority", "AllTickets", new { sortOrder = ViewBag.PriorSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Status", "AllTickets", new { sortOrder = ViewBag.StatSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Type", "AllTickets", new { sortOrder = ViewBag.TypeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Create Date", "AllTickets", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Last Updated", "AllTickets", new { sortOrder = ViewBag.UpdateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Assigned To", "AllTickets", new { sortOrder = ViewBag.AssignSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Owned By", "AllTickets", new { sortOrder = ViewBag.OwnSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPriority.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.Name)
            </td>
            <td>
                @item.Created.ToShortDateString()
            </td>
            <td>
                @item.Updated.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedToUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerUser.UserName)
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("AllTickets",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
