@model Bug_Tracker.Models.Ticket
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}

@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary", style = "margin-top: 10px" })

<div class="panel panel-default" style="margin-top: 20px">
    <div class="panel-heading">
        <h2>@Model.Title<span class="pull-right" style="font-size: 20px">Created on: @Model.Created.ToShortDateString()</span></h2>
    </div>
    <div class="panel-body">
        <h4 class="well">@Model.Description</h4>

        <h3>Ticket Details</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Assigned To</th>
                    <th>Owner</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@(Model.AssignedToUser == null ? "Unassigned" : Model.AssignedToUser.UserName)</td>
                    <td>@Model.OwnerUser.UserName</td>
                    <td>@Model.TicketType.Name</td>
                    <td>@Model.TicketStatus.Name</td>
                </tr>
            </tbody>
        </table>

        <h3>Ticket History</h3>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Property</th>
                    <th scope="col">Old Value</th>
                    <th scope="col">New Value</th>
                    <th scope="col">Changed On</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var history in Model.TicketHistories)
                {
                    <tr>
                        <td>@history.Property</td>
                        <td>@history.OldValue</td>
                        <td>@history.NewValue</td>
                        <td>@history.Changed.ToShortDateString()</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="panel-footer">Last Updated: @Model.Updated.ToShortDateString()</div>
</div>

<div>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse" style="margin-bottom: 10px">Add a Comment</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#attachment-modal" style = "margin-bottom: 10px">Attach</button>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary", style = "margin-bottom: 10px" })
    <div class="collapse" id="collapse">
        @using (Html.BeginForm("Comment", "Tickets", new { TicketId = Model.Id, UserId = User.Identity.GetUserId() }))
        {
            @Html.TextArea("Comment", new { style = "max-width: 400px; width: 100%;" }) <br />
            <input type="submit" value="Submit" class="btn btn-primary" style="margin-top: 4px;" />
        }
    </div>
</div>

<hr />

<div style="display: flex">
    <div style="width: 50%; margin-right: 10px;">
        <h4 class="text-muted">Comments</h4>
        @if (Model.TicketComments.Count > 0)
        {
            <ul style="padding-left: 0px">
                @foreach (var comment in Model.TicketComments)
                {
                    <li class="list-group-item">@comment.Comment</li>
                }
            </ul>
        }
    </div>
    <div style="width: 50%;">
        <h4 class="text-muted">Attachments</h4>
        @if (Model.TicketAttachments.Count > 0)
        {
            <ul style="padding-left: 0px;">
                @foreach (var attachment in Model.TicketAttachments)
                {
                    <li class="list-group-item">@attachment.FilePath</li>
                }
            </ul>
        }
    </div>
</div>

<div class="modal fade" id="attachment-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Attachment</h4>
            </div>
            @using (Html.BeginForm("Attach", "Tickets", new { ticketId = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data"}))
            {
                @Html.AntiForgeryToken()
               
                <div class="modal-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            @Html.ValidationSummary(false, "Errors", new { @class = "text-danger" })
                        </div>
                    }

                    <div class="form-group">
                        @Html.Label("Description")
                        @Html.TextArea("AttachmentDescription", "Attachment", new { @class = "form-control", style = "max-width: 550px" } )
                    </div>
                    <input type="file" name="File" id="File" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Attach" />
                </div>
             }
        </div>
    </div>
</div>