@model Bug_Tracker.Models.Ticket
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}

@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary", style = "margin-top: 10px" })

<div class="panel panel-default" style="margin-top: 20px">
    <div class="panel-heading">
        <h2>@Model.Title<span class="pull-right" style="font-size: 20px">Created on: @Model.Created.ToShortDateString()</span></h2>
    </div>
    <div class="panel-body">
        <h4 class="well">@Model.Description</h4>

        <h3>Ticket Details</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Assigned To</th>
                    <th>Owner</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@(Model.AssignedToUser == null ? "Unassigned" : Model.AssignedToUser.UserName)</td>
                    <td>@Model.OwnerUser.UserName</td>
                    <td>@Model.TicketType.Name</td>
                    <td>@Model.TicketStatus.Name</td>
                </tr>
            </tbody>
        </table>

        <h3>Ticket History</h3>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Property</th>
                    <th scope="col">Old Value</th>
                    <th scope="col">New Value</th>
                    <th scope="col">Changed On</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var history in Model.TicketHistories)
                {
                    <tr>
                        <td>@history.Property</td>
                        <td>@history.OldValue</td>
                        <td>@history.NewValue</td>
                        <td>@history.Changed.ToShortDateString()</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="panel-footer">Last Updated: @Model.Updated.ToShortDateString()</div>
</div>

<div>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse" style="margin-bottom: 10px">Add a Comment</button>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary", style = "margin-bottom: 10px" })
    <div class="collapse" id="collapse">
        @using (Html.BeginForm("Comment", "Tickets", new { TicketId = Model.Id, UserId = User.Identity.GetUserId() }))
        {
            @Html.TextArea("Comment", new { style = "max-width: 400px; width: 100%;" }) <br />
            <input type="submit" value="Submit" class="btn btn-primary" style="margin-top: 4px;" />
        }
    </div>
</div>

<hr />

<h4 class="text-muted">Comments</h4>

@if (Model.TicketComments.Count > 0)
{
    <ul class="list-group">

        @foreach (var comment in Model.TicketComments)
        {
            <li class="list-group-item">@comment.Comment</li>
        }
    </ul>
}